.body {
	height: 100vh;
}

.app {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 90vh;
}

.canvas {
	height: 100%;
	background-color: #F0F0F0;
}

@media (max-width: 640px) {
	.app {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 90vh;
	}

	.canvas {
		height: 70vh;
	}
}
