@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Courier Prime';
    margin: 0;
    color: rgba(64,64,64,.6);
    background-color: #FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

h2 {
     text-align: center;
     color: #383838;
     padding-bottom: 10%;
}
