.button {
	border: solid 1px black;
	background-color: transparent;
	width: fit-content;
	height: fit-content;
	border-radius: 300px;
	padding: 10px;
	font-size: 35px;
	font-family: 'Courier Prime';
	transition: opacity .1s linear;
	cursor: pointer;
}

.button:hover {
    opacity: 0.25;
}

.logo {
	display: none
}
